
	<div id="footer" class="non-printing">
		<div class="footer-content">
			<p>
				<strong>Members</strong>
					&bull;
					<a href="http://bettercare.co.za">Bettercare</a>
					&bull; 
					<a href="http://bookdash.org">Book Dash</a>
					&bull; 
					<a href="http://electricbookworks.com">Electric Book Works</a> 
					&bull; 
					<a href="http://www.paperight.com">Paperight</a> 
					&bull; 
					<a href="http://siyavula.com">Siyavula</a>
			</p>
		</div><!--.footer-content-->
	</div><!--#footer-->
